<section class="header">
  <section class="test">
    <div class="container">
      <div class="header-content">
        <svg class="header-logo" width="216" height="20" ;>
          <use href="/img/icons.svg#icon-logo-des"></use>
        </svg>
        <nav class="header-nav">
          <ul class="header-list">
            <li><a class="header-list-item" href="">How It Works</a></li>
            <li><a class="header-list-item" href="">Vegetables</a></li>
            <li><a class="header-list-item" href="">Reviews</a></li>
          </ul>
          <button class="header-btn" type="button">Shop now</button>
        </nav>
      </div>
      <div class="header-menu-icon">
        <a class="header-menu-icon-url" href="">
          <svg width="50" height="20">
            <use href="/img/icons.svg#icon-menu-des"></use>
          </svg>
        </a>
      </div>
    </div>
  </section>
</section>
