<section class="how-it-works">
  <div class="desk-only-hiw">
    <h2 class="visually-hidden">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam veritatis
      debitis praesentium eveniet quo repellat vero optio, natus eaque accusamus
      id exercitationem, adipisci voluptatibus excepturi, facere corporis fugiat
      harum modi.
    </h2>
    <div class="container img-hiw">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ../img/howitworks/woman-des.webp    1x,
            ../img/howitworks/woman-des@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/howitworks/woman-tab.webp    1x,
            /img/howitworks/woman-tab@2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/howitworks/woman-mob.webp    1x,
            /img/howitworks/woman-mob@2x.webp 2x
          "
        />
        <img
          class="woman-hiw"
          src="/img/howitworks/woman-mob.webp"
          alt="woman-veget"
        />
      </picture>
    </div>
    <div class="container content-hiw">
      <h2 class="title-hiw">
        To order your <span class="s-grey">vegetable</span> basket, simply
        follow these <span class="s-grey">easy steps</span>
      </h2>
      <p class="text-hiw">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="steps-hiw">
        <li class="items-hiw">
          <div class="item-steps-hiw">
            <h3 class="counter-steps-hiw"></h3>
            <p class="action-items-hiw">
              Just choose <span class="s-black">the vegetable</span> you want to
              order by clicking on the checkboxes
              <span class="s-black">next to it</span>.
            </p>
          </div>
        </li>
        <li class="items-hiw">
          <div class="item-steps-hiw">
            <h3 class="counter-steps-hiw"></h3>
            <p class="action-items-hiw">
              Click on <span class="s-black">the basket</span> and fill out the
              form.
            </p>
          </div>
        </li>
        <li class="items-hiw">
          <div class="item-steps-hiw">
            <h3 class="counter-steps-hiw"></h3>
            <p class="action-items-hiw">
              Sit back and relax! Your
              <span class="s-black">fresh vegetables</span> basket will be
              delivered.
            </p>
          </div>
        </li>
      </ol>
    </div>
  </div>
</section>
