<div class="overlay" data-menu>
  <div class="mobile-menu">
    <button type="button" class="close-button" data-menu-close>
      <svg class="close-icon-mobile" width="40" height="40">
        <use href="/img/icons.svg#icon-close-des"></use>
      </svg>
    </button>
    <!-- <div class="container-nav"> -->
      <nav class="nav-menu">
        <ul class="menu-list">
          <li class="menu-item">
            <a class="link" href="#howitworks">How It Works</a>
          </li>
          <li class="menu-item">
            <a class="link" href="#vegetables">Vegetables</a>
          </li>
          <li class="menu-item"><a class="link" href="#reviews">Reviews</a></li>
        </ul>
      </nav>
      <button type="button" class="button">Shop now</button>
    <!-- </div> -->
  </div>
</div>
