.header{
    width: 100%;
    position: absolute;
    top: 32px;
}

.header-logo {
    fill: #fbfbfb;
    margin: 12px 0;
    margin-right: auto;
}

.header-content{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #fbfbfb;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    align-items: center;
}

.header-nav {
    margin: 0 0;
    gap: 20px;
    display: flex;
}

.header-list{
   display: flex;
   gap: 8px;
}


.header-list-item{
    display: flex;
    padding: 12px;
    border: 1px solid #fbfbfb;
    border-radius: 12px;
    margin: 4px 0;
}


.header-btn{
    display: flex;
    margin-left: auto;
    border-radius: 30px;
    padding: 16px 32px;
    background: #7a3145;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11111;
    text-transform: uppercase;
    color: #fbfbfb;
    border: none;
    cursor: pointer;
}

.header-menu-button{
    fill: #fbfbfb;
    display: flex;
    justify-content: flex-end;
    display: none;
}
